<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>Total Number of users: <%= count %></h1>
    <form method="get" action="/users/join">
    <button>Join us!</button>
    </form>
</body>
</html>